{% extends 'base.html' %}

{% block Title %}
	Новый сотрудник
{% endblock %}

{% block Header %}
    <header class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<div class="w-30 d-flex align-items-center">
			<h5 class="my-0 pr-4 font-weight-normal"><img class="mb-2" src="/static/logo.jpg" alt="" width="160"></h5>
			<h6 class="my-0 pr-4 font-weight-normal">{{ role }} </h6>
			<h6 class="my-0 font-weight-normal">{{ name }}</h6>
		</div>
        <nav class="my-2 nav-grid header-link">
          <a class="p-2 text-dark" href="/admin/sud_dela">Судебные дела</a>
          <a class="p-2 text-dark" href="/admin/bank_dela">Банкротные дела</a>
          <a class="p-2 text-dark" href="/admin/dosud_ureg">Досудебное урегулирование</a>
          <a class="p-2 text-dark" href="/admin/isp_proiz">Исполнительное производство</a>
          <a class="p-2 text-dark" href="/admin/none_sud">Несудебные дела</a>
          <a class="p-2 text-dark" href="/admin/sudy">Суды</a>
          <a class="btn btn-secondary" role="button" href="/admin/admin_users">Сотрудники</a>
        </nav>
    </header>
{% endblock %}

{% block Body %}
  <form class="py-3 px-5" action="/admin/restore_pass" method="post" enctype="multipart/form-data">
    <h5 class='p-2' style="margin-bottom: 25px;">Узнать пароль</h5>
    <div class="form-group mx-5">
        <input class="d-block mb-2 w-100 form-control" type="text" name="email" placeholder="Email" required>
        {% for item in passw %}
          <input class="d-block mb-2 w-100 form-control" type="text" name="email" placeholder={{item}} disabled>
        {% endfor %}
      <button class='btn btn-success' type="submit">Узнать</button>
    </div>
  </form>
{% endblock %}
