{% extends 'base.html' %}

{% block Title %}
 	Новый суд
{% endblock %}

{% block Header %}
  <header class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<div class="w-30 d-flex align-items-center">
			<h5 class="my-0 pr-4 font-weight-normal"><img class="mb-2" src="/static/logo.jpg" alt="" width="160"></h5>
			<h6 class="my-0 pr-4 font-weight-normal">{{ role }} </h6>
			<h6 class="my-0 font-weight-normal">{{ name }}</h6>
		</div>
    <nav class="my-2 nav-grid header-link">
			<form action="/user/render/sud_dela" method="GET"><button type="button" class="btn btn-light header-btn">Судебные дела</button></form>
			<form action="/user/render/bankr_dela" method="GET"><button type="button" class="btn btn-light header-btn">Банкротные дела</button></form>
			<form action="/user/render/dosud_ureg" method="GET"><button type="button" class="btn btn-light header-btn">Досудебное урегулирование</button></form>
			<form action="/user/render/isp_proiz" method="GET"><button type="button" class="btn btn-light header-btn">Исполнительное производство</button></form>
			<form action="/user/render/nesud_dela" method="GET"><button type="button" class="btn btn-light header-btn">Несудебные дела</button></form>
			<form action="/user/render/sudy" method="GET"><button type="button" class="btn btn-dark header-btn">Суды</button></form>
      <!--a class="p-2 text-dark" href="/user/sud_dela">Судебные дела</a>
      <a class="p-2 text-dark" href="/user/bank_dela">Банкротные дела</a>
      <a class="p-2 text-dark" href="/user/dosud_ureg">Досудебное урегулирование</a>
      <a class="p-2 text-dark" href="/user/isp_proiz">Исполнительное производство</a>
      <a class="p-2 text-dark" href="/user/none_sud">Несудебные дела</a>
      <a class="btn btn-secondary" role="button" href="/user/sudy">Суды</a-->
    </nav>
		<form action="#" method="GET"><button type="button" class="btn btn-outline-danger">Выйти из системы</button></form>
  </header>
{% endblock %}

{% block Body %}
  <form class="py-3 px-5" action="/user/add/add_sudy" method="post" enctype="multipart/form-data">
    <h5 class='p-2' style="margin-bottom: 25px;">Добавить новый суд</h5>
    <div class="form-group mx-5">
      <select name="client" class="multi-select ui fluid dropdown mb-2" required>
        <option value=''>Клиент</option>
        {% for item in clients %}
          <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
      <input class="d-block mb-2 w-100 form-control" type="text" name="lawyer" placeholder="Юрист: {{name}}" disabled>     
      <input class="d-block mb-2 w-100 form-control" type="date" name="date" placeholder="Дата" required>
      <input class="d-block mb-2 w-100 form-control" type="time" name="time" placeholder="Время" required>
      <input class="d-block mb-2 w-100 form-control" type="text" name="judge" placeholder="Судья" required>
      <input class="d-block mb-2 w-100 form-control" type="text" name="tribunal" placeholder="Суд" required>
      <input class="d-block mb-2 w-100 form-control" type="text" name="instance" placeholder="Инстанция" required>
      <input class="d-block mb-2 w-100 form-control" type="text" name="comment" placeholder="Суть дела" required>
      <button class='btn btn-success' type="submit">Добавить</button>
    </div>
  </form>
{% endblock %}
