.root {
	min-height: 100vh;
	display: grid;
	grid-template-areas: 
		'header'
		'main'
		'footer';
	grid-template-rows: auto 1fr auto;
}

.nav-grid {
	width: 65%;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}