{% extends 'base_admin.html' %}

{% block Title %}
    Добавить нового клиенте
{% endblock %}

{% block Header %}
    <header class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
				<div class="w-30 d-flex align-items-center">
					<h5 class="my-0 pr-4 font-weight-normal"><img class="mb-2" src="/static/logo.jpg" alt="" width="160"></h5>
					<h6 class="my-0 pr-4 font-weight-normal">{{ role }}</h6>
					<h6 class="my-0 font-weight-normal">{{ name }}</h6>
				</div>
        <nav class="my-2 nav-grid">
          <a class="btn btn-secondary" role="button">Судебные дела</a>
          <a class="p-2 text-dark" href="#">Банкротные дела</a>
          <a class="p-2 text-dark" href="#">Досудебное производство</a>
          <a class="p-2 text-dark" href="#">Исполнительное производство</a>
          <a class="p-2 text-dark" href="#">Несудебные дела</a>
          <a class="p-2 text-dark" href="#">Сотрудники</a>
        </nav>
    </header>
{% endblock %}

{% block Body %}
    <div>
        <h3 id="headline" style="margin-bottom: 15px;">Новое судебное дело</h3>
        <form class="parent" action="/#" method="post">
            <div class="group">
                <input class="child" type="text" name="cl_name" placeholder="Клиент" size="21">
                <input class="child" type="text" name="cl_name" placeholder="Практика" size="21">
                <select class="child" size="1" lengh="25">
                    <option disabled>Руководитель проекта</option>
                    {% for item in urists %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select >	
                <select class="child" lengh="25">
                    <option disabled>Юристы</option>
                    {% for item in urists %}
                        <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>						
            </div>
            <div class="group">
                <input class="child" type="text" name="cl_name" placeholder="Номер дела" size="21">
                <input class="child" type="text" name="cl_name" placeholder="Суд" size="21">
                <input class="child" type="text" name="cl_name" placeholder="Судья" size="21">
                <input class="child" type="text" name="cl_name" placeholder="Комментарий" size="21">
            </div>
            <div class="group">
                <div class="child">
                    <p>Соглашение (PDF):</p>
                    <input type="file" name="file_sogl">
                </div>
                <div class="child">
                    <p>Счёт (PDF):</p>
                    <input type="file" name="file_chot">
                </div>
                <input class="child btn btn-success" type="submit" value="Добавить">
            </div>	  
        </form>
    </div>
{% endblock %}
