<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" href="/static/icon.png">
        <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="static/footer_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Вход</title>
    </head>
    <body>
      <div id="wrapper">
        <div class="container mt-5" id="content">
          <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h3 class="display-4">Вход</h3 >
            <form action="/auth" method="post">
              <p><br></p>
              <p>Введите логин:</p>
              <input type="text" name="login" id="login" size=30>
              <p><br></p>
              <p>Введите пароль:</p>
              <input type="password" name="pass" id="pass" size=30>
              <p><br></p>
              <input type="submit" class="btn btn-success" value="Войти">    
            </form>
          </div> 
        </div>
      </div>
        <footer id="footer" class="container pt-4 my-md-5 pt-md-5 border-top"><!--container mt-auto pt-4 my-md-5 pt-md-5 border-top-->
            <div class="row">
              <div class="col-12 col-md">
                <img class="mb-2" src="/static/logo.jpg" alt="" width="130">
              </div>
              <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
                  <small class="d-block mb-3 text-muted">Информация, находящаяся в базе, является собственностью<br>Адвокатского бюро «Казаков и Партнёры». © 2020</small>
                </ul>
              </div>
            </div>
          </footer>
    </body>
</html>
