{% extends 'base.html' %}

{% block Title %}
	Страница дела
{% endblock %}

{% block Header %}
  <header class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<div class="w-30 d-flex align-items-center">
			<h5 class="my-0 pr-4 font-weight-normal"><img class="mb-2" src="/static/logo.jpg" alt="" width="160"></h5>
			<h6 class="my-0 pr-4 font-weight-normal">{{ role }} </h6>
			<h6 class="my-0 font-weight-normal">{{ name }}</h6>
		</div>
    <nav class="my-2 nav-grid header-link">
			<form action="/user/render/sud_dela" method="GET"><button type="submit" class="btn btn-light header-btn">Судебные дела</button></form>
			<form action="/user/render/bankr_dela" method="GET"><button type="submit" class="btn btn-light header-btn">Банкротные дела</button></form>
			<form action="/user/render/dosud_ureg" method="GET"><button type="submit" class="btn btn-light header-btn">Досудебное урегулирование</button></form>
			<form action="/user/render/isp_proiz" method="GET"><button type="submit" class="btn btn-light header-btn">Исполнительное производство</button></form>
			<form action="/user/render/nesud_dela" method="GET"><button type="submit" class="btn btn-light header-btn">Несудебные дела</button></form>
			<form action="/user/render/sudy" method="GET"><button type="submit" class="btn btn-light header-btn">Суды</button></form>
			{% if role == 'Руководитель' %}
				<form action="/admin/render/admin_users" method="GET"><button type="button" class="btn btn-light header-btn">Сотрудники</button></form>
			{% endif %}
    </nav>
		<form action="/logout" method="GET"><button type="submit" class="btn btn-outline-danger">Выйти из системы</button></form>
  </header>
{% endblock %}

{% block Body %}
	<h3 id="headline">Страница дела</h3>
	<!--div class="table-responsive-vertical shadow-z-1"-->
		<table class="table table-bordered mytbl" >
			<tbody>

				{% if type == 'Банкротное дело' %}
				<tr>
					<th>Тип:</th>
					<td>{{ type }}</td>
				</tr>
				<tr>
					<th>Клиент:</th>
					<td>{{ delo[0][0] }}</td>
				</tr>
				<tr>
					<th>Руководитель проекта:</th>
					<td>{{ delo[0][1] }}</td>
				</tr>
				<tr>
					<th>Юристы:</th>
					<td>{{ delo[0][2] }}</td>
				</tr>
				<tr>
					<th>Номер банкротного дела:</th>
					<td>{{ delo[0][3] }}</td>
				</tr>
				<tr>
					<th>Арбитражный управляющий:</th>
					<td>{{ delo[0][4] }}</td>
				</tr>
				<tr>
					<th>Соглашение:</th>
					<td>
						{% if delo[0][5]!='Нет файла' %}
							<a href="{{ delo[0][5] }}">Соглашение.pdf</a>
							<div class="custom-file mb-2" >
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Изменить файл</label>
							</div>
										
						{% else %}
							{{ delo[0][5] }}
							<div>
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Добавить файл</label>	
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Счёт:</th>
					<td>
						{% if delo[0][6]!='Нет файла' %}
							<a href="{{ delo[0][6] }}" style="background-color: {{ delo[0][9] }};">Счёт.pdf</a>
							<div class="custom-file mb-2">
								<input class="custom-file-input" type="file2" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Изменить файл</label>
							</div>
						{% else %}
							{{ delo[0][6] }}
							<div>
								<input class="custom-file-input" id='file2' type="file" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Добавить файл</label>	
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Откуда пришёл клиент:</th>
					<td>{{ delo[0][7] }}</td>
				</tr>
				<tr>
					<th>Комментарий:</th>
					<td>
						<input class="d-block mb-2 w-100 form-control" type="text" name="Comment" form="update" value="{{ delo[0][8] }}" required>
					</td>
				</tr>


				{% elif type == 'Судебное дело' %}
				<tr>
					<th>Тип:</th>
					<td>{{ type }}</td>
				</tr>
				<tr>
					<th>Клиент:</th>
					<td>{{ delo[0][0] }}</td>
				</tr>
				<tr>
					<th>Практика:</th>
					<td>{{ delo[0][1] }}</td>
				</tr>
				<tr>
					<th>Руководитель проекта:</th>
					<td>{{ delo[0][2] }}</td>
				</tr>
				<tr>
					<th>Юристы:</th>
					<td>{{ delo[0][3] }}</td>
				</tr>
				<tr>
					<th>Номер дела:</th>
					<td>{{ delo[0][4] }}</td>
				</tr>
				<tr>
					<th>Суд:</th>
					<td>{{ delo[0][5] }}</td>
				</tr>
				<tr>
					<th>Судья:</th>
					<td>{{ delo[0][6] }}</td>
				</tr>
				<tr>
					<th>Соглашение:</th>
					<td>
						{% if delo[0][7]!='Нет файла' %}
							<a href="{{ delo[0][7] }}">Соглашение.pdf</a>
							<div class="custom-file mb-2" >
								<input class="custom-file-input" id='' type="file1" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Изменить файл</label>
							</div>
										
						{% else %}
							{{ delo[0][7] }}
							<div>
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Добавить файл</label>	
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Счёт:</th>
					<td>
						{% if delo[0][8]!='Нет файла' %}
							<a href="{{ delo[0][8] }}" style="background-color: {{ delo[0][11] }};">Счёт.pdf</a>
							<div class="custom-file mb-2">
								<input class="custom-file-input" type="file2" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Изменить файл</label>
							</div>
						{% else %}
							{{ delo[0][8] }}
							<div>
								<input class="custom-file-input" id='file2' type="file" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Добавить файл</label>
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Откуда пришёл клиент:</th>
					<td>{{ delo[0][9] }}</td>
				</tr>
				<tr>
					<th>Комментарий:</th>
					<td><input class="d-block mb-2 w-100 form-control" type="text" name="Comment" form="update" value="{{ delo[0][10] }}" required></td>
				</tr>


				{% elif type == 'Досудебное урегулирование' %}
				<tr>
					<th>Тип:</th>
					<td>{{ type }}</td>
				</tr>
				<tr>
					<th>Клиент:</th>
					<td>{{ delo[0][0] }}</td>
				</tr>
				<tr>
					<th>Практика:</th>
					<td>{{ delo[0][1] }}</td>
				</tr>
				<tr>
					<th>Руководитель проекта:</th>
					<td>{{ delo[0][2] }}</td>
				</tr>
				<tr>
					<th>Юристы:</th>
					<td>{{ delo[0][3] }}</td>
				</tr>
				<tr>
					<th>Номер дела:</th>
					<td>{{ delo[0][4] }}</td>
				</tr>
				<tr>
					<th>Орган:</th>
					<td>{{ delo[0][5] }}</td>
				</tr>
				<tr>
					<th>Соглашение:</th>
					<td>
						{% if delo[0][6]!='Нет файла' %}
							<a href="{{ delo[0][6] }}">Соглашение.pdf</a>
							<div class="custom-file mb-2" >
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Изменить файл</label>
							</div>
										
						{% else %}
							{{ delo[0][6] }}
							<div>
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Добавить файл</label>	
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Счёт:</th>
					<td>
						{% if delo[0][7]!='Нет файла' %}
							<a href="{{ delo[0][7] }}" style="background-color: {{ delo[0][10] }};">Счёт.pdf</a>
							<div class="custom-file mb-2">
								<input class="custom-file-input" type="file2" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Изменить файл</label>
							</div>
						{% else %}
							{{ delo[0][7] }}
							<div>
								<input class="custom-file-input" id='file2' type="file" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Добавить файл</label>
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Откуда пришёл клиент:</th>
					<td>{{ delo[0][8] }}</td>
				</tr>
				<tr>
					<th>Комментарий:</th>
					<td><input class="d-block mb-2 w-100 form-control" type="text" name="Comment" value="{{ delo[0][9] }}" form="update" required></td>
				</tr>

				
				{% elif type == 'Исполнительное производство' %}
				<tr>
					<th>Тип:</th>
					<td>{{ type }}</td>
				</tr>
				<tr>
					<th>Клиент:</th>
					<td>{{ delo[0][0] }}</td>
				</tr>
				<tr>
					<th>Практика:</th>
					<td>{{ delo[0][1] }}</td>
				</tr>
				<tr>
					<th>Руководитель проекта:</th>
					<td>{{ delo[0][2] }}</td>
				</tr>
				<tr>
					<th>Юристы:</th>
					<td>{{ delo[0][3] }}</td>
				</tr>
				<tr>
					<th>Номер исполнительного дела:</th>
					<td>{{ delo[0][4] }}</td>
				</tr>
				<tr>
					<th>Сумма:</th>
					<td>{{ delo[0][5] }}</td>
				</tr>
				<tr>
					<th>ФССП:</th>
					<td>{{ delo[0][6] }}</td>
				</tr>
				<tr>
					<th>Судебный-пристав исполнитель:</th>
					<td>{{ delo[0][7] }}</td>
				</tr>
				<tr>
					<th>Соглашение:</th>
					<td>
						{% if delo[0][8]!='Нет файла' %}
							<a href="{{ delo[0][8] }}">Соглашение.pdf</a>
							<div class="custom-file mb-2" >
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Изменить файл</label>
							</div>
										
						{% else %}
							{{ delo[0][8] }}
							<div>
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Добавить файл</label>	
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Счёт:</th>
					<td>
						{% if delo[0][9]!='Нет файла' %}
							<a href="{{ delo[0][9] }}" style="background-color: {{ delo[0][12] }};">Счёт.pdf</a>
							<div class="custom-file mb-2">
								<input class="custom-file-input" type="file2" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Изменить файл</label>
							</div>
						{% else %}
							{{ delo[0][9] }}
							<div>
								<input class="custom-file-input" id='file2' type="file" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Добавить файл</label>
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Откуда пришёл клиент:</th>
					<td>{{ delo[0][10] }}</td>
				</tr>
				<tr>
					<th>Комментарий:</th>
					<td><input class="d-block mb-2 w-100 form-control" type="text" name="Comment" form="update" value="{{ delo[0][11] }}" required></td>
				</tr>
				
			{% elif type == 'Несудебное дело' %}
				<tr>
					<th>Тип:</th>
					<td>{{ type }}</td>
				</tr>
				<tr>
					<th>Клиент:</th>
					<td>{{ delo[0][0] }}</td>
				</tr>
				<tr>
					<th>Практика:</th>
					<td>{{ delo[0][1] }}</td>
				</tr>
				<tr>
					<th>Руководитель проекта:</th>
					<td>{{ delo[0][2] }}</td>
				</tr>
				<tr>
					<th>Юристы:</th>
					<td>{{ delo[0][3] }}</td>
				</tr>
				<tr>
					<th>Характер работ:</th>
					<td>{{ delo[0][4] }}</td>
				</tr>
				<tr>
					<th>Срок:</th>
					<td>{{ delo[0][5] }}</td>
				</tr>
				<tr>
					<th>Соглашение:</th>
					<td>
						{% if delo[0][6]!='Нет файла' %}
							<a href="{{ delo[0][6] }}">Соглашение.pdf</a>
							<div class="custom-file mb-2" >
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Изменить файл</label>
							</div>
										
						{% else %}
							{{ delo[0][6] }}
							<div>
								<input class="custom-file-input" id='file1' type="file" name="Agreement" form="update">
								<label class='custom-file-label' for="file1">Добавить файл</label>	
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Счёт:</th>
					<td>
						{% if delo[0][7]!='Нет файла' %}
							<a href="{{ delo[0][7] }}" style="background-color: {{ delo[0][10] }};">Счёт.pdf</a>
							<div class="custom-file mb-2">
								<input class="custom-file-input" type="file2" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Изменить файл</label>
							</div>
						{% else %}
							{{ delo[0][7] }}
							<div>
								<input class="custom-file-input" id='file2' type="file" name="Invoice" form="update">
								<label class='custom-file-label' for="file2">Добавить файл</label>
							</div>
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>Откуда пришёл клиент:</th>
					<td>{{ delo[0][8] }}</td>
				</tr>
				<tr>
					<th>Комментарий:</th>
					<td><input class="d-block mb-2 w-100 form-control" type="text" name="Comment" form="update" value="{{ delo[0][9] }}" required></td>
				</tr>
			{% endif %}
			</tbody>
		</table>
		
	<form id="update" action="#" method="POST">
		<button type="submit" class="btn btn-success btn-delo" style="width: 213px;">Обновить</button>
	</form>
	{% if type == 'Несудебное дело' %}
		<button class="btn btn-success btn-delo" onclick="document.location='/change_invoice_status/admin/none_sud/{{ item }}'">Оплачено</button></form>
		<button class="btn btn-danger btn-delo" onclick="document.location='/delite_element/admin/none_sud/{{ item }}'">Удалить</button></form>
		
	{% elif type == 'Исполнительное производство' %}
		<button class="btn btn-success btn-delo" onclick="document.location='/change_invoice_status/admin/isp_proiz/{{ item }}'">Оплачено</button></form>
		<button class="btn btn-danger btn-delo" onclick="document.location='/delite_element/admin/isp_proiz/{{ item }}'">Удалить</button></form>

	{% elif type == 'Досудебное урегулирование' %}
		<button class="btn btn-success btn-delo" onclick="document.location='/change_invoice_status/admin/dosud_ureg/{{ item }}'">Оплачено</button></form>
		<button class="btn btn-danger btn-delo" onclick="document.location='/delite_element/admin/dosud_ureg/{{ item }}'">Удалить</button></form>

	{% elif type == 'Судебное дело' %}
		<button class="btn btn-success btn-delo" onclick="document.location='/change_invoice_status/admin/sud_dela/{{ item }}'">Оплачено</button></form>
		<button class="btn btn-danger btn-delo" onclick="document.location='/delite_element/admin/sud_dela/{{ item }}'">Удалить</button></form>

	{% elif type == 'Банкротное дело' %}
		<button class="btn btn-success btn-delo" onclick="document.location='/change_invoice_status/admin/bank_dela/{{ item }}'">Оплачено</button></form>
		<button class="btn btn-danger btn-delo" onclick="document.location='/delite_element/admin/bank_dela/{{ item }}'">Удалить</button></form>

	{% endif %}
{% endblock %}
