{% extends 'base_admin.html' %}

{% block Title %}
	Судебные дела
{% endblock %}

{% block Header %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><img class="mb-2" src="/static/logo.jpg" alt="" width="160"></h5>
        <h6 class="my-0 mr-md-auto font-weight-normal">Админ </h6>
        <h6 class="my-0 mr-md-auto font-weight-normal">Иванов Иван Иваонович </h6>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="btn btn-secondary" role="button">Судебные дела</a>
          <a class="p-2 text-dark" href=" ">Банкротные дела</a>
          <a class="p-2 text-dark" href=" ">Досудебное производство</a>
          <a class="p-2 text-dark" href=" ">Исполнительное производство</a>
          <a class="p-2 text-dark" href=" ">Несудебные дела</a>
          <a class="p-2 text-dark" href=" ">Сотрудники</a>
        </nav>
    </div>
{% endblock %}


{% block Body %}
<div>
	<h3 id="headline">Судебные дела</h3>
	<br>
	<div style="float: left; width: 100%">
	  <form action="/#" method="post">	
		<div style="float: left; width: 33%">
			<input type="text" name="cl_name" placeholder="Клиент" size="30">
		</div>
		<div style="float: left; width: 33%">
			<input type="text" name="prac" placeholder="Практика" size="30">
		</div>
		<div style="float: left; width: 33%">
			<input type="submit" class="btn btn-success" value="Найти">
		</div>
	  </form>	
	</div>
	<div style="clear: both"></div>
	<br>
  <div class="table-responsive-vertical shadow-z-1">
	<table id="table" class="table table-hover table-mc-light-blue">
	  <thead>
	  	<tr>
	  	  <th>№</th>
	  	  <th>Клиент</th>
	  	  <th>Практика</th>
	  	  <th>Руководитель проекта</th>
	  	  <th>Юристы</th>
	  	  <th>Номер дела</th>
	  	  <th>Суд</th>
	  	  <th>Судья</th>
	  	  <th>Соглашение</th>
	  	  <th>Счёт</th>
	  	  <th>Откуда пришёл клиент</th>
	  	  <th>Комментарий</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	{% for line in data %}
	  	  <tr>
	  	  	{% for item in line %}
	  	  	  <td>&#160;{{ item }}&#160;</td>
	  	  	{% endfor %}
	  	  </tr>
	  	{% endfor %}
	  </tbody>
	</table>

</div>
{% endblock %}