{% extends 'base.html' %}

{% block Title %}
	Судебные дела
{% endblock %}

{% block Header %}
    <header class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
				<div class="w-30 d-flex align-items-center">
					<h5 class="my-0 pr-4 font-weight-normal"><img class="mb-2" src="/static/logo.jpg" alt="" width="160"></h5>
					<h6 class="my-0 pr-4 font-weight-normal">{{ role }} </h6>
					<h6 class="my-0 font-weight-normal">{{ name }}</h6>
				</div>
        <nav class="my-2 nav-grid header-link">
			<a class="btn btn-secondary" role="button" href="/user/sud_dela">Судебные дела</a>
			<a class="p-2 text-dark" href="/user/bank_dela">Банкротные дела</a>
			<a class="p-2 text-dark" href="/user/dosud_ureg">Досудебное урегулирование</a>
			<a class="p-2 text-dark" href="/user/isp_proiz">Исполнительное производство</a>
			<a class="p-2 text-dark" href="/user/none_sud">Несудебные дела</a>
			<a class="p-2 text-dark" href="/user/sudy">Суды</a>
        </nav>
    </header>
{% endblock %}

{% block Body %}
	<h3 id="headline">Судебные дела</h3>
	<a style="margin-bottom: 10px; margin-top: 10px;" href="/user/add_sud_delo">Добавить новое судебное дело</a>
	<form class="form-inline py-3 px-5" action="/admin/bank_dela" method="post" enctype="multipart/form-data">	
		<select name="practice" class="multi-select dropdown mb-2" style="width: 60px" multiple novalidate>
		  <option value="" selected="selected">Практика</option>
		  <option value="Энергетическое право">Энергетическое право</option>
		  <option value="Банкротство">Банкротство</option>
		  <option value="Налоговое право">Налоговое право</option>
		  <option value="Административное право">Административное право</option>
		  <option value="Корпоративное право">Корпоративное право</option>
		  <option value="Уголовное право">Уголовное право</option>
		  <option value="Недвижимость, инфестиции и строительство">Недвижимость, инфестиции и строительство</option>
		  <option value="Земельное право">Земельное право</option>
		  <option value="Таможенное право">Таможенное право</option>
		  <option value="Вексельное право. Ценные бумаги">Вексельное право. Ценные бумаги</option>
		  <option value="Семейное и наследственное право">Семейное и наследственное право</option>
		  <option value="Регистрация прав и субъектов права">Регистрация прав и субъектов права</option>
		  <option value="Трудовое право">Трудовое право</option>
		  <option value="Жилищное право">Жилищное право</option>
		  <option value="Интеллектуальное право">Интеллектуальное право</option>
		  <option value="Спортивное право">Спортивное право</option>
		</select>
		<input class='form-control mr-2' type="search" list='client' name="client" placeholder="Клиент" style="margin-bottom: 7px; height: 37px; margin-left: 7px" size="24">
		<datalist id='client'>
		  {% for item in serch_clients %}
			<option value="{{ item }}">{{ item }}</option>
		  {% endfor %}
		</datalist>
		<select name="lawyers" class="multi-select dropdown mb-2" style="width: 60px" multiple novalidate>
		  <option value="" selected="selected">Юристы</option>
		  {% for item in lawyers %}
			<option value="{{ item }}">{{ item }}</option>
		  {% endfor %}
		</select>
		<input type="submit" class="btn btn-success" style="margin-bottom: 7px; margin-left: 7px; height: 37px" value="Найти">
		<button class="btn btn-success btn-sm" style="margin-bottom: 7px; margin-left: 7px; height: 37px" onclick="document.location='/admin/bank_dela'">Показать всё</button>
	  </form>
  <div class="table-responsive-vertical shadow-z-1">
	<table id="table" class="table table-hover table-mc-light-blue" style='white-space: pre-wrap'>
	  <thead>
	  	<tr class="header-link">
		  <th>№</th>
	  	  <th>Клиент</th>
			<th>Практика</th>
			<th>Руководитель проекта</th>	
	  	  <th>Юристы</th>
	  	  <th>Номер дела</th>
	  	  <th>Суд</th>
	  	  <th>Судья</th>
	  	  <th>Соглашение</th>
	  	  <th>Счёт</th>
	  	  <th>Откуда пришёл клиент</th>
	  	  <th>Комментарий</th>
	  	  <th>Действия</th>
	  	</tr>
	  </thead>
	  <tbody>
		{% for line in data %}
		  <tr>
			{% set index = loop.index %}
			{% for item in line %}
			  {% if loop.index == 9 %}
				<td><a href="{{ item }}">Соглашение.pdf</a></td>
			  {% elif loop.index == 10 %}
				<td><a href="{{ item }}" style="background-color: {{ colors[index-1] }};">Счёт.pdf</a></td>
			  {% elif loop.index == 13 %}
			    <td><div style="display: flex;">
			      <button class="btn btn-success btn-sm" style="background-color: green;display: flex; margin-right: 7px; height: 28px;  width: 73px" onclick="document.location='change_invoice_status/user/sud_dela/{{ item }}'">Оплачено</button>
				  <button class="btn btn-danger btn-sm" style="color: black; display: flex; height: 28px; width: 73px;" onclick="document.location='delite_element/user/sud_dela/{{ item }}'">Удалить</button>
			    </div></td>
			  {% else %}
				<td>{{ item }}</td>
			  {% endif %}
			{% endfor %}
		  </tr>
	  	{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
