{% extends 'admin/base.html' %}

{% block Title %}
    Новое судебное дело
{% endblock %}

{% block Header %}
    <header class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
				<div class="w-30 d-flex align-items-center">
					<h5 class="my-0 pr-4 font-weight-normal"><img class="mb-2" src="/static/logo.jpg" alt="" width="160"></h5>
					<h6 class="my-0 pr-4 font-weight-normal">{{ role }}</h6>
					<h6 class="my-0 font-weight-normal">{{ name }}</h6>
				</div>
        <nav class="my-2 nav-grid">
            <a class="btn btn-secondary" role="button">Судебные дела</a>
          <a class="p-2 text-dark" href="#">Банкротные дела</a>
          <a class="p-2 text-dark" href="#">Досудебное производство</a>
          <a class="p-2 text-dark" href="#">Исполнительное производство</a>
          <a class="p-2 text-dark" href="#">Несудебные дела</a>
          <a class="p-2 text-dark" href="#">Сотрудники</a>
        </nav>
    </header>
{% endblock %}

{% block Body %}
    <form class="py-3 px-5" action="/add_delo" method="post">
        <h5 class='p-2'>Добавить новое судебное дело</h5>
        <div class="form-group mx-5">
            <input class="d-block mb-2 w-100 form-control" type="text" name="cl_name" placeholder="Клиент" size="25">
            <input class="d-block mb-2 w-100 form-control" type="text" name="cl_name" placeholder="Практика" size="25">
            <select id='multi-select' name='lawyers' class="ui fluid dropdown mb-2" multiple>
                <option value=''>Юристы</option>
                {% for item in urists %}
                    <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>
            <input class="d-block mb-2 w-100 form-control" type="text" name="cl_name" placeholder="Номер дела" size="25">
            <input class="d-block mb-2 w-100 form-control" type="text" name="cl_name" placeholder="Суд" size="25">
            <input class="d-block mb-2 w-100 form-control" type="text" name="cl_name" placeholder="Судья" size="25">
            <div class="custom-file mb-2">
                <input class="custom-file-input" id='file1' type="file" name="file1" size="25">
                <label class='custom-file-label' for="file1">Cоглашение (PDF)...</label>
            </div>
            <div class="custom-file mb-2" style="margin-bottom: 15px;">
                <input class="custom-file-input" id='file2' type="file" name="file2" size="25">
                <label class='custom-file-label' for="file2">Счёт (PDF)...</label>
                <p style="margin-top: 10px;">
                    <input type="radio" name="status" value="#008000"> Оплачен &nbsp;
                    <input type="radio" name="status" value="#FFFF00"> Внесена предоплата &nbsp;
                    <input type="radio" name="status" value="#FF0000"> Не оплачен &nbsp;
                </p>
            </div>
            <input style="margin-top: 15px;" class="d-block mb-2 w-100 form-control" type="text" name="cl_name" placeholder="Откуда пришёл клиент" size="25">
            <input class="d-block mb-3 w-100 form-control" type="text" name="cl_name" placeholder="Комментарий" size="25">
            <button class='btn btn-success' type="submit">Добавить</button>
        </div>
    </form>
{% endblock %}
